.MainOffer-wrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainOffer__offer {
	width: 45%;
	h1 {
		font-family: 'Segoe UI';
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		padding: 0;
	}
	span,
	h1 {
		display: block;
		margin-bottom: 15px;
	}
}
.offer_btn-group {
	display: flex;
	grid-gap: 25px;
}

.MainOffer-imgs {
	&-img1 {
		z-index: 0;
		width: 40%;
		filter: drop-shadow(0px 46px 98px rgba(41, 203, 86, 0.9));
	}
}

@media (max-width: 900px) {
	.MainOffer-wrp {
		display: grid;
		justify-items: center;
	}
	.mainOffer__offer {
		width: 100%;
		display: grid;
		justify-items: center;
		span,
		h1 {
			text-align: center;
		}
	}
	.MainOffer-imgs {
		&-img1 {
			z-index: 0;
			width: 50%;
		}
	}
}
