@media (max-width: 600px) {
	.left-sideHeader {
		padding-top: 20px;
		justify-content: center !important;
		width: 100% !important;
		flex-wrap: wrap;
	}
	.menu {
		justify-content: center !important;
	}
	.navMenu {
		justify-content: center;
	}
}
