.exchangeOffer {
	height: auto;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 10px;
	transition: all 0.4s ease-in-out;
	.exchange_info {
		display: flex;
		align-items: center;
	}
}
.exchangeMobileOffer {
	display: none;
}
.exchangeOffer:hover {
	background: rgba(41, 203, 86, 0.05);
	box-shadow: none;
}
.acent {
	border: 1px solid #29b22e;
	box-shadow: 0px 4px 8px rgba(41, 179, 46, 0.25);
}

@media (max-width: 600px) {
	.exchangeOffer {
		display: none;
	}
	.exchangeMobileOffer {
		margin-bottom: 10px;
		display: block;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		transition: all 0.4s ease-in-out;
		padding: 20px;
		.exchangeTitle {
			display: flex;
			grid-gap: 5px;
			align-items: center;
			flex-wrap: wrap;
			&-name {
				font-size: 22px;
				font-weight: bold;
			}
			margin-bottom: 10px;
		}
		.exchangeInfo {
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 15px;
			font-size: 16px;
			.ant-statistic-title {
				white-space: nowrap;
			}
		}
	}
}
